<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Convertisseurs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="container text-center">
      <h1>Formation Sifa</h1>
      <h2>Convertisseurs</h2>
      <div class="row align-items-start">
        <div class="col-3 col-sm-3">
          <a class="btn btn-primary m-1" href="angles.php" role="button">Angle</a>
          <a class="btn btn-primary m-1" href="longueur.php" role="button">Longueur</a>
          <a class="btn btn-primary m-1" href="pression.php" role="button">Pression</a>
          <a class="btn btn-primary m-1" href="surface.php" role="button">Surface</a>
          <a class="btn btn-primary m-1" href="energie.php" role="button">Energie</a>
          <a class="btn btn-primary m-1" href="temperature.php" role="button">Température</a>
          <a class="btn btn-primary m-1" href="temps.php" role="button">Temps</a>
          <a class="btn btn-primary m-1" href="volume.php" role="button">Volume</a>
          <a class="btn btn-primary m-1" href="vitesse.php" role="button">Vitesse</a>
        </div>  
        <div class="col-3 col-sm-3">
          <a class="btn btn-primary m-1" href="masse.php" role="button">Masse</a>
          <a class="btn btn-primary m-1" href="puissance.php" role="button">Puissance</a>
          <a class="btn btn-primary m-1" href="force.php" role="button">Force</a>
          <a class="btn btn-primary m-1" href="densite.php" role="button">Densité</a>
          <a class="btn btn-primary m-1" href="debit.php" role="button">Débit</a>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>